@font-face {
  	font-family: OpenSans-Regular;
  	src:url(../fonts/OpenSans-Regular.woff) format('woff'),
  	url(../fonts/OpenSans-Regular.woff2) format('woff2'),
  	url(../fonts/OpenSans-Regular.ttf) format('ttf');
  	font-weight: 400;
  	font-style: normal;
}
@font-face {
	font-family: OpenSans-Bold;
  	src: url(../fonts/OpenSans-Bold.woff) format('woff'),
  	url(../fonts/OpenSans-Bold.woff2) format('woff2'),
  	url(../fonts/OpenSans-Bold.ttf) format('ttf');
  	font-weight: 700;
 	font-style: bold;
 }
body {
	margin:0; /*картинка на все cover поле*/
	min-width: 320px;/*al*/
} 
.header {
	width: 100%;  
	min-height: 100vh;  /*al*/
	background-image: url(../images/football_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #000000;
	color: #ffffff;
	font-family: OpenSans-Bold, arial;
	text-transform: uppercase;
	/*text-align: center;*/		
	display: flex;
	position: relative;
}
.header::after {
	content:"";
    background-color: #0a0e34;
    top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	position: absolute;
  	opacity: 0.9;
}
.header-conteiner {
  	margin-right: auto;
  	margin-left: auto;
  	padding-top: 50px; /*al*/
  	padding-bottom: 110px; /*al*/

    position: relative;
  	z-index: 1;
  	color: #ffffff;
}
.header-logo {
	width: 190px;
	margin: auto;
	fill: #ffffff;
}
.header-conteiner-title {	
	max-width: 81rem;    /*al*/
	margin-top: 16rem;   /*al*/
	margin-bottom:16rem; /*al*/
	margin-left: 0;	     /*al*/
	margin-right: 0;     /*al*/
}
.header-title {
	padding: 0;
	margin: 0;
	display: flex; 
	flex-wrap: wrap;
	text-transform: uppercase;
	font-size: 90px;
	line-height: 100px;

}
.header-title-right {	   
	padding-left: 440px;	
}

a {text-decoration: none; /* Отменяем подчеркивание у ссылки */}

.socials_articles {
	width: 820px;
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
  	margin-left: auto;
  	text-align: left;	
  	justify-content: center;
}
.indent_for_reference {
	margin-right: 50px; /**al***/
}
.socials_items {
	width: 310px;
	height: 76px;
	display: flex;
	border: 1px solid #5e42b0;
	border-radius: 38px;
	background-color: #5e42b0;
	/*margin-left: 25px;
	margin-right: 25px;******al*/
	font-family: OpenSans-Bold, arial;
	font-size: 14px;
	font-style: normal;
    color: #ffffff;
    padding-left: 38px;
	padding-top: 10px;
	padding-right:20px;
}
.icon {
	/*margin-left: 38px;
	margin-top: 10px;
	margin-right:20px;******al******/
	width: 50px;
	height: 50px;
	fill: #ffffff;
}
.socials-item {
	padding-top: 10px;
	padding-left: 20px;
}
.socials-item-link:first-child{
	/*margin-top: 16px;******al*******/
	font-size: 14px;
	font-family: OpenSans-Regular, arial;
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}




/************************************* footballer *****************/
.section_conteiner {
	width: 100%;
	/*max-height: 100vh;*/
	position: relative;
}
.footballer_img {
	width: 50rem;
	margin-top: 30px;
}
.athlet {
	position: absolute;
	top: 0px;
	right: calc(50% + 45px);
}
.conteiner_items {
 	padding-top: 110px; /*****al*****/
 }

.section_title {
	margin-top: 0px;
	padding-left: 50%;
 	margin-bottom: 50px;
	text-transform: uppercase;	
	font-family: OpenSans-Bold, arial;
	font-size: 80px;
	line-height: 60px;
	color: #e7e7e7;
}
.conteiner_title {
	display: inline-flex;
	padding-left: 50%;
}
.number_rectangl {
	display:flex;
	flex-wrap: wrap;
	align-items: center;	
	margin-right: 10px;
}
.number_connection {
	font-size: 18px;
	color: #000000;
	font-family: OpenSans-Bold, arial;
}
.number_connection::after {
	content: " ";
	display: flex;
	width: 19px;
	height: 5px;
	border-radius: 2px;
	background-color: #5e42b0;	     
}
.number_connection_3 {
	font-size: 18px;
	color: #000000;
	font-family: OpenSans-Bold, arial;
}
.number_connection_3::after {
	content: " ";
	display: flex;
	width: 19px;
	height: 5px;
	border-radius: 2px;
	background-color: #efefef;			     
}
.title_connection {
	width: 100%;
	font-family: OpenSans-Bold, arial;	
	text-transform: uppercase;	
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 34px;
	color: #c1c1c1;
	align-items: center; /* h3 al */
	display: flex;     
}
.conteiner_news {
	max-width: 710px;
	text-transform: none;
	font-size: 20px;
	font-family: OpenSans-Regular, arial;
	color: #000000;	
	letter-spacing: 1px;
	padding-left: 50%;
}
.conteiner_news_3 {
	max-width: 710px;
	text-transform: none;
	font-size: 20px;
	font-family: OpenSans-Regular, arial;
	color: #ffffff;	
	letter-spacing: 1px;
	padding-left: 50%;
}
.color_1 {
	background-color: #ffffff;
	padding-top: 50px;
	padding-bottom: 35px;
}
.color_2 {
	background-color: #f6f4fa;
	padding-top: 50px;
	padding-bottom: 35px;
}
.color_3 {
	background-color: #5e42b0;	
	padding-top: 50px;
	padding-bottom: 35px;
}
h3 {
	margin: 0;
}
/************************************* basketballer *****************/
.basketballer_img {
	width: 52rem;
}
.players {
	position: absolute;
	top: 0px;
	right: calc(50% - 710px); 
}
.color_4 {
	background-color:  #0a0e34;
	padding-top: 50px;
	padding-bottom: 35px;
}
.number_connection_4 {
	font-size: 18px;
	color: #9173e6;
	font-family: OpenSans-Bold, arial;
}
.number_connection_4::after {
	content: " ";
	display: flex;
	width: 19px;
	height: 5px;
	border-radius: 2px;
	background-color: #efefef;			     
}
.section_title_basket {
	padding-left: calc(50% - 710px);
	text-transform: uppercase;	
	font-family: OpenSans-Bold, arial;
	font-size: 80px;
	line-height: 60px;
	color: #e7e7e7;
	margin-bottom: 50px;
}
.conteiner_title_basket {
	display: inline-flex;
	padding-left: calc(50% - 710px);
}
.conteiner_news_basket {
	max-width: 710px;
	text-transform: none;
	font-size: 20px;
	font-family: OpenSans-Regular, arial;
	color: #000000;	
	letter-spacing: 1px;
	padding-left: calc(50% - 710px);
}
.conteiner_news_3_basket {
	max-width: 710px;
	text-transform: none;
	font-size: 20px;
	font-family: OpenSans-Regular, arial;
	color: #ffffff;	
	letter-spacing: 1px;
	padding-left: calc(50% - 710px);
}
/************************************* be_active === work it *****************/
.conteiner_be_active  {
	width: 100%;
	padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.be_active_img {
	width: 50%;
}
.be_active {
	width: 100%;
}
.be_active_text {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	/*align-items: center;*/
	flex-direction: column;
	justify-content: center;
}
.be_active_text_inline {
	display: flex;
	align-items: center;
}
.section_title_be_active {
	text-transform: uppercase;	
	font-family: OpenSans-Bold, arial;
	font-size: 80px;
	line-height: 60px;
	color: #e7e7e7;
	padding-left: 45px;
	margin-block-start: 0;
    margin-block-end: 0;      
}
.conteiner_news_be_active {
	max-width: 550px;
	text-transform: none;
	font-size: 20px;
	font-family: OpenSans-Regular, arial;
	color: #000000;	
	letter-spacing: 1px;
	padding-left: 127px;
	padding-right: 127px;
	margin-block-start:0;
    margin-block-end:0;
    padding-top: 50px;
}
.number_rectangl_be_active {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: -82px;
    background:#5e42b0;  /*Цвет фона */
    width: 164px;
    height: 164px;
    position: relative;
  	z-index: 1;
}
.number_connection_be_active {
	font-size: 18px;
	color: #ffffff;
	font-family: OpenSans-Bold, arial;
}
.number_connection_be_active::after {
	content: " ";
	display: flex;
	width: 19px;
	height: 5px;
	border-radius: 2px;
	background-color: #8f7bc8;	     
}
.conteiner_title_be_active {
	display: inline-flex;
}
/*********************************************find-contact *****************/
.conteiner_find_contact  {
	width: 100%;
	padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.find_contact_text {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.find_contact_text_inline {
	align-items: center;                      
	display: flex;
	flex-direction: row-reverse;	
	justify-content: space-between;
}
.number_rectangl_find_contact {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-right: -82px;
    background: #5e42b0; 
    width: 164px;
    height: 164px;
    position: relative;
  	z-index: 1;
}
.section_title_find_contact  {
	text-transform: uppercase;	
	font-family: OpenSans-Bold, arial;
	font-size: 80px;
	line-height: 60px;
	color: #e7e7e7;
	padding-left: 127px;
	margin-block-start:0;
    margin-block-end:0;
}




/****@media (min-width: 641px) and (max-width: 960px) {
   .header {
   	background-image: url(../image/football_1280.jpg);
   }

	.logo {
	   width: 205px;
	   margin-top: 38px; 
   }

  
   .socials_items {
		width: 310px;
		height: 75px;	
	}

	.socials_items:last-child {
		margin-top: 0px;
		margin-left: 30px; 
	}
}****/



/*********************************************.  footer.   *****************/

.footer {
	width: 100%;  
	min-height: 100vh;  
	background-image: url(../images/game_1920.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-color: #444444;
	display: flex;
	position: relative;
	justify-content: center;
}
.footer::after {
	content: "";
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	position: absolute;
	background-color: #0a0e34;
	opacity: 0.9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; 
}
.footer_container {
   position: relative;
   z-index: 1;
   color: #ffffff;
   padding-top: 210px;
}
.footer_container_logo_title {
	display: flex;
	flex-wrap:wrap;
	align-items: center;
}
.footer_container_logo {
	width: 130px;
	height: 135px;
	border-radius: 30px;
	background-color: #5e42b0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer_logo {
	width: 100px;
	height: 90px;
	fill: #ffffff;
}
.footer_titles {
	font-size: 20px;
	margin-left: 35px;
}
.footer_title {
	text-align: left;	
	text-transform: uppercase;
	color: #9b8ec1;
	margin-block-start: 0;
    margin-block-end: 0;
}
.footer_title:first-child {
	font-size: 55px;
	font-family: OpenSans-Bold, arial;
	color: #ffffff;
	margin-block-start: 0;
    margin-block-end: 0;

}
.footer_socials_articles {
	width: 820px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;
	margin-right: auto;
  	margin-left: auto;
  	margin-bottom: 250px;
  	text-transform: uppercase;
  	justify-content: center;
}


